<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--8-col">
			<div id='player'></div>
		</div>
		<div class="mdl-cell mdl-cell--4-col">
			<div style="width: 100%;"></div>
			<div id="messageWrapper">
				<ul id="messages"></ul>
				<form action="">
					<input id="m" autocomplete="off" />
					<button>Send</button>
				</form>
			</div>
		</div>
	</div>



	<script>
		var url = "<%= url %>";
		console.log("Youtube URL is: " + url);
	</script>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
	</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>



	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>

</html>