* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
}

form {
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 30%;
}

form input {
	padding: 10px;
	width: 80%;
	font-family: "Titillium Web";
	transition: all 0.3s ease-in-out 0s;
	font-size: 1.5em;
}

form input:focus {
	border: 2px solid rgb(68, 138, 255);
	outline: none;
}

form button {
	width: 20%;
	display: block;
	float: right;
	border: none;
	padding: 11px 10px;
	font-family: "Titillium Web";
	font-size: 1.5em;
	background-color: rgb(68, 138, 255);
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	font-family: "Titillium Web";
	font-size: 1.5em;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#messageWrapper {
	width: 30%;
	display: block;
	float: right;
}

#messages > ul {
	overflow: none;
}

#player {
	top: 10%;
	left: 10%;
	position: absolute;
	display: block;
}